RewriteEngine On

# Untuk virtual host, RewriteBase harus '/'
# Karena DocumentRoot sudah mengarah ke folder public
RewriteBase /

# Jika file atau folder ada, langsung akses
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Selain itu, arahkan ke index.php
RewriteRule ^(.*)$ index.php [QSA,L]